
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:   Arial, sans-serif;
}
.container {
    margin: 0 auto;
    padding: 150px 0;
    width: 900px;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
h1{
    color: green;
    font-size: 3rem;
}

#value{
    font-size: 3rem;
}

button {
    padding: 0.5rem;
    border: 1px solid green;
    border-radius: 12px;
    width: 200px;
    background-color: white;
    color: green;
    margin-top: 20px ;
    font-size: 1.5rem;
}